.book-card {
    width: 80%;
}

.checkout {
    position: fixed;
    right: 5%;
    top: 65px;
}

.book-detail {
    position: fixed;
    right: 12%;
}

.alter {
    font-size: 24px;
    color: #c7254e;
}
